 @font-face {
     font-family: 'FZGuoMeiJinDaoTiJF-Regular';
     src: url('./font/FZGuoMeiJinDaoTiJF.TTF') format('truetype')
 }

 @font-face {
     font-family: 'FZKeBenFangSongS-R-GB-Regular';
     src: url('./font/FZKBFSJW.TTF') format('truetype')
 }
 .horizontal-scroll {
     display: flex;
     overflow-x: hidden;
     overflow-y: hidden;
     /* white-space: nowrap; */
     -webkit-overflow-scrolling: touch;
     gap: 9.5vw;
 }

 .lastText {
     height: 100vh;
     /* width: 10vw; */
     position: relative;
     top: 5vh;
     font-size: 80px;
     line-height: 142.9px;
     font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
     font-weight: 400;
     color: #264471;
     letter-spacing: -5px;
     writing-mode: vertical-rl;
 }

 .t1macbook-pro {
     background-color: #ffffff;
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
 }

 .t1macbook-pro .t1div {
     background-color: #ffffff;
     width: 1512px;
     height: 982px;
     position: relative;
 }

 .t1macbook-pro .t1overlap {
     top: 45px;
     left: 544px;
     position: absolute;
     width: 968px;
     height: 937px;
 }

 .t1macbook-pro .t1overlap-group {
     top: 0;
     left: 0;
     position: absolute;
     width: 968px;
     height: 937px;
 }

 .t1macbook-pro .t1text-wrapper {
     width: 139px;
     top: 1px;
     left: 800px;
     font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
     font-size: 123px;
     line-height: 123px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1line {
     height: 332px;
     top: 2px;
     left: 785px;
     position: absolute;
     width: 2px;
 }

 .t1macbook-pro .t1img {
     height: 332px;
     top: 2px;
     left: 592px;
     position: absolute;
     width: 2px;
 }

 .t1macbook-pro .t1line-2 {
     height: 343px;
     top: 1px;
     left: 395px;
     position: absolute;
     width: 2px;
 }

 .t1macbook-pro .t1line-3 {
     height: 343px;
     top: 1px;
     left: 309px;
     position: absolute;
     width: 2px;
 }

 .t1macbook-pro .t1image {
     position: absolute;
     width: 968px;
     height: 607px;
     top: 330px;
     left: 0;
     object-fit: cover;
 }

 .t1macbook-pro .t1text-wrapper-2 {
     width: 24px;
     top: 0;
     left: 273px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-3 {
     width: 61px;
     top: 1px;
     left: 691px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: 50px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-4 {
     width: 61px;
     top: 1px;
     left: 625px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: 50px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-5 {
     width: 61px;
     top: 0;
     left: 327px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: 50px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-6 {
     width: 24px;
     top: 0;
     left: 554px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-7 {
     width: 24px;
     top: 0;
     left: 527px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-8 {
     width: 24px;
     top: 0;
     left: 499px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-9 {
     width: 24px;
     top: 0;
     left: 472px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-10 {
     width: 24px;
     top: 0;
     left: 444px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-11 {
     width: 24px;
     top: 0;
     left: 417px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-12 {
     width: 24px;
     top: 0;
     left: 237px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-13 {
     width: 24px;
     top: 0;
     left: 201px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }

 .t1macbook-pro .t1text-wrapper-14 {
     width: 61px;
     top: 27px;
     left: 70px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: normal;
     position: absolute;
     font-weight: 400;
     color: #63463d;
     letter-spacing: 0;
 }
/* tool2 */

.t2macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1512px;
}

.t2macbook-pro .t2div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
    position: relative;
}

.t2macbook-pro .t2overlap-group {
    position: absolute;
    width: 1090px;
    height: 944px;
    top: 38px;
    left: 14px;
}

.t2macbook-pro .t2image {
    position: absolute;
    width: 1090px;
    height: 821px;
    top: 124px;
    left: 0;
    object-fit: cover;
}

.t2macbook-pro .t2text-wrapper {
    width: 32px;
    top: 6px;
    left: 7px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 160px;
    line-height: 142.t29px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-2 {
    width: 61px;
    top: 0;
    left: 1000px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2line {
    height: 332px;
    top: 22px;
    left: 157px;
    position: absolute;
    width: 2px;
}

.t2macbook-pro .t2img {
    height: 458px;
    top: 8px;
    left: 985px;
    position: absolute;
    width: 2px;
}

.t2macbook-pro .t2text-wrapper-3 {
    width: 25px;
    top: 6px;
    left: 936px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-4 {
    width: 25px;
    top: 6px;
    left: 886px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-5 {
    width: 61px;
    top: 38px;
    left: 1409px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-6 {
    width: 61px;
    top: 38px;
    left: 1343px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-7 {
    width: 61px;
    top: 548px;
    left: 1439px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2line-2 {
    height: 332px;
    top: 47px;
    left: 1318px;
    position: absolute;
    width: 2px;
}

.t2macbook-pro .t2text-wrapper-8 {
    width: 25px;
    top: 44px;
    left: 1133px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-9 {
    width: 25px;
    top: 44px;
    left: 1170px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-10 {
    width: 25px;
    top: 44px;
    left: 1281px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-11 {
    width: 25px;
    top: 44px;
    left: 1244px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}

.t2macbook-pro .t2text-wrapper-12 {
    width: 25px;
    top: 44px;
    left: 1207px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #cfaf70;
    letter-spacing: 0;
}
/* tool3 */


.t3macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.t3macbook-pro .t3div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.t3macbook-pro .t3overlap {
    top: 32px;
    position: absolute;
    width: 1291px;
    height: 950px;
    left: 0;
}

.t3macbook-pro .t3overlap-group {
    top: 0;
    position: absolute;
    width: 1291px;
    height: 950px;
    left: 0;
}

.t3macbook-pro .t3text-wrapper {
    width: 169px;
    top: 24px;
    left: 857px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 160px;
    line-height: 142.t39px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3line {
    height: 332px;
    top: 2px;
    left: 856px;
    position: absolute;
    width: 2px;
}

.t3macbook-pro .t3img {
    height: 343px;
    top: 1px;
    left: 1108px;
    position: absolute;
    width: 2px;
}

.t3macbook-pro .t3text-wrapper-2 {
    width: 24px;
    top: 13px;
    left: 39px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-3 {
    width: 24px;
    top: 0;
    left: 1212px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-4 {
    width: 24px;
    top: 0;
    left: 1130px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3image {
    position: absolute;
    width: 1291px;
    height: 713px;
    top: 237px;
    left: 0;
    object-fit: cover;
}

.t3macbook-pro .t3line-2 {
    height: 458px;
    top: 14px;
    left: 213px;
    position: absolute;
    width: 2px;
}

.t3macbook-pro .t3text-wrapper-5 {
    width: 24px;
    top: 0;
    left: 1267px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-6 {
    width: 24px;
    top: 13px;
    left: 165px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-7 {
    width: 24px;
    top: 13px;
    left: 123px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-8 {
    width: 24px;
    top: 13px;
    left: 81px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-9 {
    width: 24px;
    top: 0;
    left: 1240px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-10 {
    width: 24px;
    top: 0;
    left: 1185px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-11 {
    width: 24px;
    top: 0;
    left: 1157px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-12 {
    width: 61px;
    top: 2px;
    left: 237px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-13 {
    width: 61px;
    top: 32px;
    left: 1398px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-14 {
    width: 61px;
    top: 32px;
    left: 1332px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3text-wrapper-15 {
    width: 61px;
    top: 490px;
    left: 1409px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #9c5131;
    letter-spacing: 0;
}

.t3macbook-pro .t3line-3 {
    height: 332px;
    top: 33px;
    left: 1305px;
    position: absolute;
    width: 2px;
}

/* tool4 */

.t4macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.t4macbook-pro .t4div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.t4macbook-pro .t4overlap {
    width: 1358px;
    top: 12px;
    left: 16px;
    position: absolute;
    height: 902px;
}

.t4macbook-pro .t4overlap-group {
    width: 1327px;
    top: 0;
    left: 0;
    position: absolute;
    height: 902px;
}

.t4macbook-pro .t4text-wrapper {
    width: 191px;
    top: 22px;
    left: 14px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 183.4px;
    line-height: 163.8px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4line {
    height: 361px;
    top: 0;
    left: 14px;
    position: absolute;
    width: 2px;
}

.t4macbook-pro .t4img {
    height: 332px;
    top: 35px;
    left: 1229px;
    position: absolute;
    width: 2px;
}

.t4macbook-pro .t4line-2 {
    height: 343px;
    top: 34px;
    left: 1031px;
    position: absolute;
    width: 2px;
}

.t4macbook-pro .t4line-3 {
    height: 343px;
    top: 34px;
    left: 917px;
    position: absolute;
    width: 2px;
}

.t4macbook-pro .t4text-wrapper-2 {
    width: 24px;
    top: 33px;
    left: 1135px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-3 {
    width: 24px;
    top: 33px;
    left: 1081px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4image {
    position: absolute;
    width: 1327px;
    height: 629px;
    top: 273px;
    left: 0;
    object-fit: cover;
}

.t4macbook-pro .t4text-wrapper-4 {
    width: 61px;
    top: 20px;
    left: 1297px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-5 {
    width: 61px;
    top: 20px;
    left: 949px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 48.5px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-6 {
    width: 24px;
    top: 33px;
    left: 1190px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-7 {
    width: 24px;
    top: 33px;
    left: 1163px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-8 {
    width: 24px;
    top: 33px;
    left: 1108px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-9 {
    width: 24px;
    top: 33px;
    left: 1053px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-10 {
    width: 26px;
    top: 33px;
    left: 861px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-11 {
    width: 61px;
    top: 32px;
    left: 1379px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

.t4macbook-pro .t4text-wrapper-12 {
    width: 61px;
    top: 490px;
    left: 1440px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #be8b52;
    letter-spacing: 0;
}

/* tool5 */

.t5macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.t5macbook-pro .t5div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.t5macbook-pro .t5overlap-group {
    position: absolute;
    width: 1176px;
    height: 982px;
    top: 0;
    left: 0;
}

.t5macbook-pro .t5text-wrapper {
    width: 206px;
    top: 513px;
    left: 926px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 197.9px;
    line-height: 176.7px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-2 {
    width: 61px;
    top: 32px;
    left: 960px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5line {
    height: 332px;
    top: 514px;
    left: 903px;
    position: absolute;
    width: 2px;
}

.t5macbook-pro .t5img {
    height: 332px;
    top: 47px;
    left: 945px;
    position: absolute;
    width: 2px;
}

.t5macbook-pro .t5line-2 {
    height: 343px;
    top: 46px;
    left: 1081px;
    position: absolute;
    width: 2px;
}

.t5macbook-pro .t5text-wrapper-3 {
    width: 24px;
    top: 45px;
    left: 907px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-4 {
    width: 24px;
    top: 45px;
    left: 867px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-5 {
    width: 24px;
    top: 45px;
    left: 1152px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-6 {
    width: 24px;
    top: 45px;
    left: 1124px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-7 {
    width: 24px;
    top: 45px;
    left: 1097px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5image {
    position: absolute;
    width: 1165px;
    height: 982px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.t5macbook-pro .t5text-wrapper-8 {
    width: 61px;
    top: 32px;
    left: 1379px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-9 {
    width: 61px;
    top: 32px;
    left: 1313px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-10 {
    width: 61px;
    top: 659px;
    left: 1423px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5line-3 {
    height: 332px;
    top: 47px;
    left: 1245px;
    position: absolute;
    width: 2px;
}

.t5macbook-pro .t5text-wrapper-11 {
    width: 24px;
    top: 45px;
    left: 1206px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

.t5macbook-pro .t5text-wrapper-12 {
    width: 24px;
    top: 45px;
    left: 1179px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #735538;
    letter-spacing: 0;
}

/* tool6 */

.t6macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.t6macbook-pro .t6div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.t6macbook-pro .t6overlap-group {
    position: absolute;
    width: 1313px;
    height: 970px;
    top: 12px;
    left: 0;
}

.t6macbook-pro .t6text-wrapper {
    width: 166px;
    top: 22px;
    left: 30px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 160px;
    line-height: 142.9px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-2 {
    width: 61px;
    top: 20px;
    left: 965px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6line {
    height: 332px;
    top: 0;
    left: 30px;
    position: absolute;
    width: 2px;
}

.t6macbook-pro .t6img {
    height: 332px;
    top: 35px;
    left: 1245px;
    position: absolute;
    width: 2px;
}

.t6macbook-pro .t6line-2 {
    height: 343px;
    top: 34px;
    left: 1048px;
    position: absolute;
    width: 2px;
}

.t6macbook-pro .t6line-3 {
    height: 343px;
    top: 34px;
    left: 935px;
    position: absolute;
    width: 2px;
}

.t6macbook-pro .t6text-wrapper-3 {
    width: 24px;
    top: 33px;
    left: 1206px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-4 {
    width: 24px;
    top: 33px;
    left: 1179px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-5 {
    width: 24px;
    top: 33px;
    left: 1152px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-6 {
    width: 24px;
    top: 33px;
    left: 1124px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-7 {
    width: 24px;
    top: 33px;
    left: 1097px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-8 {
    width: 24px;
    top: 33px;
    left: 890px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-9 {
    width: 24px;
    top: 33px;
    left: 1069px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-10 {
    width: 24px;
    top: 31px;
    left: 856px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6image {
    position: absolute;
    width: 1313px;
    height: 917px;
    top: 53px;
    left: 0;
    object-fit: cover;
}

.t6macbook-pro .t6text-wrapper-11 {
    width: 61px;
    top: 32px;
    left: 1379px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-12 {
    width: 61px;
    top: 32px;
    left: 1313px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}

.t6macbook-pro .t6text-wrapper-13 {
    width: 61px;
    top: 490px;
    left: 1440px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #8799bb;
    letter-spacing: 0;
}
/* tool7 */

 .t7macbook-pro {
     background-color: #ffffff;
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
 }

 .t7macbook-pro .t7div {
     background-color: #ffffff;
     width: 1512px;
     height: 982px;
     position: relative;
 }

 .t7macbook-pro .t7overlap {
     position: absolute;
     width: 1374px;
     height: 970px;
     top: 12px;
     left: 0;
 }

 .t7macbook-pro .t7overlap-group {
     position: absolute;
     width: 166px;
     height: 332px;
     top: 0;
     left: 30px;
 }

 .t7macbook-pro .t7text-wrapper {
     width: 166px;
     top: 22px;
     left: 0;
     font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
     font-size: 160px;
     line-height: 142.9px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7line {
     height: 332px;
     top: 0;
     left: 0;
     position: absolute;
     width: 2px;
 }

 .t7macbook-pro .t7text-wrapper-2 {
     width: 61px;
     top: 20px;
     left: 1313px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: 50px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7overlap-group-2 {
     position: absolute;
     width: 1356px;
     height: 936px;
     top: 34px;
     left: 0;
 }

 .t7macbook-pro .t7img {
     height: 332px;
     top: 1px;
     left: 1245px;
     position: absolute;
     width: 2px;
 }

 .t7macbook-pro .t7line-2 {
     height: 343px;
     top: 0;
     left: 1129px;
     position: absolute;
     width: 2px;
 }

 .t7macbook-pro .t7image {
     position: absolute;
     width: 1356px;
     height: 638px;
     top: 298px;
     left: 0;
     object-fit: cover;
 }

 .t7macbook-pro .t7text-wrapper-3 {
     width: 24px;
     top: 33px;
     left: 1206px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7text-wrapper-4 {
     width: 24px;
     top: 33px;
     left: 1179px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7text-wrapper-5 {
     width: 24px;
     top: 33px;
     left: 1152px;
     font-family: "华文楷体", Helvetica;
     font-size: 22px;
     line-height: 22px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7text-wrapper-6 {
     width: 61px;
     top: 32px;
     left: 1379px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: 50px;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

 .t7macbook-pro .t7text-wrapper-7 {
     width: 61px;
     top: 727px;
     left: 1440px;
     font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
     font-size: 50px;
     line-height: normal;
     position: absolute;
     font-weight: 400;
     color: #392725;
     letter-spacing: 0;
 }

/* tool8 */


.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-pro .overlap-wrapper {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
}

.macbook-pro .overlap {
    position: relative;
    width: 1470px;
    height: 953px;
    top: 12px;
    left: 13px;
}

.macbook-pro .overlap-group {
    position: absolute;
    width: 1427px;
    height: 953px;
    top: 0;
    left: 0;
}

.macbook-pro .div {
    position: absolute;
    width: 166px;
    height: 332px;
    top: 0;
    left: 18px;
}

.macbook-pro .text-wrapper {
    width: 166px;
    top: 22px;
    left: 0;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 160px;
    line-height: 142.9px;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;

}

.macbook-pro .line {
    height: 332px;
    top: 0;
    left: 0;
    position: absolute;
    width: 2px;
}

.macbook-pro .text-wrapper-2 {
    width: 61px;
    top: 20px;
    left: 1366px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;

}

.macbook-pro .text-wrapper-3 {
    width: 61px;
    top: 20px;
    left: 1300px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;

}

.macbook-pro .text-wrapper-4 {
    width: 61px;
    top: 20px;
    left: 960px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;

}

.macbook-pro .img {
    height: 332px;
    top: 35px;
    left: 1232px;
    position: absolute;
    width: 2px;
}

.macbook-pro .line-2 {
    height: 343px;
    top: 34px;
    left: 1035px;
    position: absolute;
    width: 2px;
}

.macbook-pro .line-3 {
    height: 343px;
    top: 34px;
    left: 933px;
    position: absolute;
    width: 2px;
}

.macbook-pro .text-wrapper-5 {
    width: 24px;
    top: 33px;
    left: 1194px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-6 {
    width: 24px;
    top: 33px;
    left: 1166px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .overlap-group-2 {
    position: absolute;
    width: 1397px;
    height: 920px;
    top: 33px;
    left: 0;
}

.macbook-pro .text-wrapper-7 {
    width: 24px;
    top: 0;
    left: 1139px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .ellipse {
    position: absolute;
    width: 637px;
    height: 88px;
    top: 783px;
    left: 739px;
    background-color: #00000033;
    border-radius: 318.5px/44px;
    filter: blur(35.7px);
}

.macbook-pro .ellipse-2 {
    position: absolute;
    width: 520px;
    height: 214px;
    top: 665px;
    left: 69px;
}

.macbook-pro .text-wrapper-8 {
    width: 24px;
    top: 0;
    left: 839px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;

}

.macbook-pro .image {
    position: absolute;
    width: 1397px;
    height: 531px;
    top: 388px;
    left: 0;
    object-fit: cover;
}

.macbook-pro .text-wrapper-9 {
    width: 24px;
    top: 33px;
    left: 1112px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-10 {
    width: 24px;
    top: 33px;
    left: 1084px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-11 {
    width: 24px;
    top: 33px;
    left: 1057px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-12 {
    width: 24px;
    top: 33px;
    left: 877px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-13 {
    width: 24px;
    top: 33px;
    left: 801px;
    font-family: "华文楷体", Helvetica;
    font-size: 22px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;
    writing-mode: vertical-rl;
}

.macbook-pro .text-wrapper-14 {
    width: 61px;
    top: 518px;
    left: 1409px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    color: #264471;
    letter-spacing: -5px;

}

