 @font-face {
     font-family: 'FZGuoMeiJinDaoTiJF-Regular';
     src: url('./炮制工具/font/FZGuoMeiJinDaoTiJF.TTF') format('truetype')
 }

 @font-face {
     font-family: 'FZKeBenFangSongS-R-GB-Regular';
     src: url('./炮制工具/font/FZKBFSJW.TTF') format('truetype')
 }
  @font-face {
      font-family: 'FZWZZYJW-Regular';
      src: url('./炮制工具/font/FZWZZYJW.TTF') format('truetype')
  }
  .TIJF{
    font-family: 'FZGuoMeiJinDaoTiJF-Regular';
  }
  .SRGB{
    font-family: 'FZKeBenFangSongS-R-GB-Regular';
  }
  .ZYJW{
    font-family: 'FZWZZYJW-Regular';
  }
/* chart1 */

.StyledChart {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.overlap-wrapper {
    background-color: #ffffff;
    height: 982px;
    width: 1512px;
}

.overlap {
    height: 982px;
    position: relative;
}

.root {
    height: 558px;
    left: 716px;
    position: absolute;
    top: 424px;
    width: 796px;
}

.flower {
    height: 502px;
    left: 1172px;
    position: absolute;
    top: 104px;
    width: 340px;
}

.allglass {
    height: 376px;
    left: 1265px;
    position: absolute;
    top: 606px;
    width: 247px;
}

.stone {
    height: 352px;
    left: 324px;
    position: absolute;
    top: 630px;
    width: 552px;
}

.undergrounder {
    height: 982px;
    left: 0;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1512px;
}

.group {
    height: 440px;
    left: 156px;
    position: absolute;
    top: 120px;
    width: 999px;
}

.text-wrapper {
    color: #000000;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 832px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 127px;
    width: 67px;
}

.div {
    color: #000000;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 942px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 265px;
    width: 45px;
}

.overlap-group {
    height: 327px;
    left: 0;
    position: absolute;
    top: 0;
    width: 414px;
}

.text-wrapper-2 {
    color: #2d2d2d;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.text-wrapper-3 {
    color: #2d2d2d;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 220px;
    font-weight: 400;
    left: 194px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54px;
}

.overlap-2 {
    height: 346px;
    left: 416px;
    position: absolute;
    top: 0;
    width: 367px;
}

.text-wrapper-4 {
    color: #2d2d2d;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    left: 167px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 98px;
}

.navbarq {
    -webkit-backdrop-filter: blur(14px) brightness(100%);
    backdrop-filter: blur(14px) brightness(100%);
    background-color: #ffffff;
    height: 81px;
    left: 33px;
    position: absolute;
    top: 30px;
    width: 1436px;
}

.text-wrapper-5 {
    color: #00000099;
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    left: 761px;
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.text-wrapper-6 {
    color: #00000099;
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    left: 901px;
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.text-wrapper-7 {
    color: #00000099;
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    left: 1012px;
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.text-wrapper-8 {
    color: #00000099;
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    left: 1104px;
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.text-wrapper-9 {
    color: #00000099;
    font-family: var(--body-medium-font-family);
    font-size: var(--body-medium-font-size);
    font-style: var(--body-medium-font-style);
    font-weight: var(--body-medium-font-weight);
    left: 1205px;
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.buttons-instance {
    left: 1305px !important;
    position: absolute !important;
    top: 21px !important;
}

.div-wrapper {
    background-image: url(./rectangle-3.png);
    background-size: 100% 100%;
    height: 49px;
    left: 20px;
    position: absolute;
    top: 18px;
    width: 46px;
}

.text-wrapper-10 {
    color: #2d2d2d;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}


/* chart2 */

.chart {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chart .overlap-group-wrapper {
    background-color: #ffffff;
    height: 982px;
    width: 1512px;
}

.chart .overlap-group {
    height: 982px;
    position: relative;
}

.chart .fruit {
    height: 137px;
    left: 0;
    position: absolute;
    top: 0;
    width: 446px;
}

.chart .stone {
    height: 117px;
    left: 325px;
    position: absolute;
    top: 0;
    width: 552px;
}

.chart .root {
    height: 734px;
    left: 723px;
    position: absolute;
    top: 0;
    width: 789px;
}

.chart .line {
    height: 424px;
    left: 406px;
    position: absolute;
    top: 458px;
    width: 3px;
}

.chart .text-wrapper {
    color: #2d2d2d;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    left: 360px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 188px;
    width: 1085px;
}

.chart .div {
    color: #2d2d2d;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 1387px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 72px;
    width: 71px;
}

.chart .element {
    color: #000000;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 446px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 488px;
    width: 697px;
}

.chart .background {
    height: 982px;
    left: 0;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1512px;
}
/* chart3 */
   .c3chart {
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    
        .c3chart .c3div {
            background-color: #ffffff;
            width: 1512px;
            height: 982px;
            position: relative;
        }
    
        .c3chart .c3overlap {
            position: absolute;
            width: 731px;
            height: 934px;
            top: 48px;
            left: 37px;
        }
    
        .c3chart .c3text-wrapper {
            top: 0;
            left: 0;
            font-family: "FZWZZYJW-Regular", Helvetica;
            color: #000000;
            font-size: 196.2px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3overlap-group {
            position: absolute;
            width: 653px;
            height: 849px;
            top: 85px;
            left: 22px;
        }
    
        .c3chart .c3text-wrapper-2 {
            top: 0;
            left: 231px;
            font-family: "FZWZZYJW-Regular", Helvetica;
            color: #000000;
            font-size: 234.9px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3image {
            position: absolute;
            width: 653px;
            height: 617px;
            top: 232px;
            left: 0;
            object-fit: cover;
        }
    
        .c3chart .c3text-wrapper-3 {
            top: 37px;
            left: 545px;
            font-family: "FZWZZYJW-Regular", Helvetica;
            color: #000000;
            font-size: 185.9px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3text-wrapper-4 {
            top: 72px;
            left: 801px;
            font-family: "FZWZZYJW-Regular", Helvetica;
            color: #000000;
            font-size: 300px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3text-wrapper-5 {
            top: 173px;
            left: 1134px;
            font-family: "FZWZZYJW-Regular", Helvetica;
            color: #000000;
            font-size: 176.4px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3text-wrapper-6 {
            width: 477px;
            top: 583px;
            left: 786px;
            font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
            color: #000000;
            font-size: 18px;
            line-height: 50px;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3text-wrapper-7 {
            width: 71px;
            top: 72px;
            left: 1387px;
            font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
            color: #2d2d2d;
            font-size: 50px;
            line-height: normal;
            position: absolute;
            font-weight: 400;
            letter-spacing: 0;
        }
    
        .c3chart .c3line {
            position: absolute;
            width: 3px;
            height: 614px;
            top: 77px;
            left: 1458px;
        }
    

/* chart04 */

.c4ChartWrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.c4OverlapGroupWrapper {
    background-color: #ffffff;
    height: 982px;
    width: 1512px;
    overflow: hidden;
}

.c4OverlapGroup {
    height: 982px;
    position: relative;
    overflow: hidden;
}

.c4TextWrapper {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 365.7px;
    font-weight: 400;
    left: 177px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 239px;
}

.c4TextWrapper0 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 160px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
}

.c4TextWrapper2 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 180px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 402px;
}

.c4TextWrapper3 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 160px;
    font-weight: 400;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 663px;
}

.c4TextWrapper4 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 176.4px;
    font-weight: 400;
    left: 0px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 199px;
}

.c4TextWrapper5 {
    color: #000000;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 626px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 564px;
    width: 477px;
}

.c4Line {
    height: 614px;
    left: 1458px;
    position: absolute;
    top: 77px;
    width: 3px;
}

.c4Background {
    height: 982px;
    left: 0;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1512px;
}

.c4img {
     position: absolute;
  width: 410px;
  height: 831px;
  top: 151px;
  left: 1102px;
}


/* chart05 */
.c5ChartWrapper {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.c5OverlapGroupWrapper {
    /* background-color: #ffffff; */
    height: 982px;
    width: 1512px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .c5OverlapGroupWrapper {
        width: 100%;
    }
}

.c5OverlapGroup {
    height: 960px;
    position: relative;
    overflow: hidden;
    top: 14px;
    width: 1388px;
}

@media (max-width: 600px) {
    .c5OverlapGroup {
        width: 100%;
    }
}

.c5TextWrapper {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 300px;
    font-weight: 400;
    left: 129px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

@media (max-width: 600px) {
    .c5TextWrapper {
        font-size: 100px;
        left: auto;
        width: 90%;
        top: auto;
    }
}

.c5Div {
    height: 960px;
    left: 0;
    position: absolute;
    top: 0;
    width: 854px;
}

@media (max-width: 600px) {
    .c5Div {
        width: 100%;
    }
}

.c5TextWrapper0 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 176.4px;
    font-weight: 400;
    left: 677px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 59px;
}

@media (max-width: 600px) {
    .c5TextWrapper0 {
        font-size: 50px;
        left: 10px;
        width: 90%;
        top: 200px;
    }
}

.c5TextWrapper2 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 160px;
    font-weight: 400;
    left: 461px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 107px;
}

@media (max-width: 600px) {
    .c5TextWrapper2 {
        font-size: 50px;
        left: 10px;
        width: 90%;
        top: 200px;
    }
}

.c5TextWrapper3 {
    color: #000000;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 766px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 437px;
    width: 622px;
}

@media (max-width: 991px) {
    .c5TextWrapper3 {
        max-width: 100%;
        margin-top: 40px;
        font-size: 12px;
    }
}

.c5TextWrapper4 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 160px;
    font-weight: 400;
    left: 882px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
}

@media (max-width: 600px) {
    .c5TextWrapper4 {
        font-size: 50px;
        left: 10px;
        width: 90%;
        top: 200px;
    }
}

.c5TextWrapper5 {
    color: #000000;
    font-family: "FZWZZYJW-Regular", Helvetica;
    font-size: 160px;
    font-weight: 400;
    left: 1156px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 174px;
}

@media (max-width: 600px) {
    .c5TextWrapper5 {
        font-size: 50px;
        left: 10px;
        width: 90%;
        top: 200px;
    }
}

.c5Line {
    height: 614px;
    left: 1458px;
    position: absolute;
    top: 77px;
    width: 3px;
}

.c5Background {
    height: 982px;
    left: 0;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1512px;
}

.c5img {
    height: 798px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 170px;
    width: 698px;
}

@media (max-width: 991px) {
    .c5img {
        max-width: 100%;
        margin-top: 40px;
    }
}
/* chart06 */

.c6macbook-pro {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }

  .c6macbook-pro .c6div {
      background-color: #ffffff;
      width: 1512px;
      height: 982px;
      position: relative;
  }

  .c6macbook-pro .c6overlap {
      position: absolute;
      width: 946px;
      height: 787px;
      top: 195px;
      left: 566px;
  }

  .c6macbook-pro .c6taoqi {
      position: absolute;
      width: 582px;
      height: 787px;
      top: 0;
      left: 364px;
      object-fit: cover;
  }

  .c6macbook-pro .c6text-wrapper {
      width: 635px;
      top: 215px;
      left: 0;
      font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
      font-size: 20px;
      line-height: 50px;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }

  .c6macbook-pro .c6overlap-group {
      position: absolute;
      width: 168px;
      height: 355px;
      top: 379px;
      left: 96px;
  }

  .c6macbook-pro .c6text-wrapper-2 {
      top: 156px;
      left: 8px;
      font-family: "FZWZZYJW-Regular", Helvetica;
      font-size: 160px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }

  .c6macbook-pro .c6text-wrapper-3 {
      top: 0;
      left: 0;
      font-family: "FZWZZYJW-Regular", Helvetica;
      font-size: 140px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }

  .c6macbook-pro .c6text-wrapper-4 {
      top: 684px;
      left: 304px;
      font-family: "FZWZZYJW-Regular", Helvetica;
      font-size: 140px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }

  .c6macbook-pro .c6text-wrapper-5 {
      top: 15px;
      left: 96px;
      font-family: "FZWZZYJW-Regular", Helvetica;
      font-size: 160px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }

  .c6macbook-pro .c6text-wrapper-6 {
      top: 214px;
      left: 184px;
      font-family: "FZWZZYJW-Regular", Helvetica;
      font-size: 120px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      color: #000000;
      letter-spacing: 0;
  }



/* chart07 */

/* chart08 */

.c8ChartWrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.c8OverlapWrapper {
    background-color: #ffffff;
    height: 982px;
    width: 1512px;
    overflow: hidden;
}

.c8Overlap {
    height: 1203px;
    left: -181px;
    position: relative;
    top: -221px;
    width: 1693px;
}

.c8line {
    height: 424px;
    left: 469px;
    position: absolute;
    top: 443px;
    width: 3px;
    color: #2d2d2d;
}

.c8Img {
    height: 424px;
    left: 1652px;
    position: absolute;
    top: 282px;
    width: 3px;
    color: #000000;
}

.c8TextWrapper {
    color: #2d2d2d;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    left: 518px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 436px;
    width: 941px;
}

.c8Div {
    color: #2d2d2d;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 1581px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 281px;
    width: 71px;
}

.c8TextWrapper2 {
    color: #000000;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 589px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 751px;
    width: 697px;
}

.c8Group {
    height: 1162px;
    left: 77px;
    opacity: 0.c84;
    position: absolute;
    top: -76px;
    transform: rotate(-90deg);
    width: 1009px;
}

.c8OverlapGroup {
    height: 981px;
    position: absolute;
    top: 181px;
    width: 788px;
}

.c8OverlapGroup2 {
    height: 675px;
    position: absolute;
    top: 0px;
    width: 788px;
    left: 0;
}

.c8Fruit {
    height: 240px;
    left: 0;
    position: absolute;
    top: 214px;
    transform: rotate(90deg);
    width: 675px;
}

.c8Flower {
    height: 540px;
    left: 109px;
    position: absolute;
    top: -109px;
    transform: rotate(90deg);
    width: 321px;
}

.c8Allgrass {
    height: 410px;
    left: 370px;
    position: absolute;
    top: 563px;
    transform: rotate(90deg);
    width: 426px;
}

/* chart09 */
.c9macbook-pro {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }

  .c9macbook-pro .c9div {
      background-color: #ffffff;
      width: 1512px;
      height: 982px;
      position: relative;
  }

  .c9macbook-pro .c9text-wrapper {
      position: absolute;
      top: 102px;
      left: 656px;
      color: #2d2d2d;
      font-size: 50px;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
      font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
      font-weight: 400;
  }

  .c9macbook-pro .c9element {
      position: absolute;
      width: 854px;
      top: 178px;
      left: 305px;
      color: #2d2d2d;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: 22px;
      font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
      font-weight: 400;
  }

  .c9macbook-pro .c9buttons {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 7.69px;
      padding: 19.23px 28.85px;
      position: absolute;
      top: 814px;
      left: 660px;
      background-color: #000000;
      border-radius: 19.23px;
  }

  .c9macbook-pro .c9text-wrapper-2 {
      position: relative;
      width: fit-content;
      margin-top: -1.92px;
      color: #ffffff;
      background-color: #000000;
      font-size: 34px;
      letter-spacing: -0.68px;
      line-height: normal;
      white-space: nowrap;
      font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
      font-weight: 400;

  }
  

  .c9macbook-pro .c9waterfire {
      position: absolute;
      width: 319px;
      height: 354px;
      top: 336px;
      left: 395px;
      object-fit: cover;
  }

  .c9macbook-pro .c9fire {
      position: absolute;
      width: 319px;
      height: 354px;
      top: 336px;
      left: 770px;
      object-fit: cover;
  }

  .c9macbook-pro .c9waterwater {
      position: absolute;
      width: 319px;
      height: 354px;
      top: 336px;
      left: 1140px;
      object-fit: cover;
  }

  .c9macbook-pro .c9xiuzhi {
      position: absolute;
      width: 319px;
      height: 354px;
      top: 336px;
      left: 30px;
      object-fit: cover;
  }

/* chart10 */
.c10macbook-pro {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }

  .c10macbook-pro .c10overlap-wrapper {
      background-color: #ffffff;
      width: 1512px;
      height: 982px;
  }

  .c10macbook-pro .c10overlap {
      position: relative;
      height: 953px;
      top: 29px;
  }

  .c10macbook-pro .c10overlap-group {
      position: absolute;
      width: 1512px;
      height: 953px;
      top: 0;
      left: 0;
  }

  .c10macbook-pro .c10text-wrapper {
      width: 941px;
      top: 186px;
      left: 337px;
      font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
      color: #2d2d2d;
      font-size: 200px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      letter-spacing: 0;
  }

  .c10macbook-pro .c10div {
      width: 1033px;
      top: 456px;
      left: 367px;
      font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
      color: #000000;
      font-size: 18px;
      line-height: 50px;
      position: absolute;
      font-weight: 400;
      letter-spacing: 0;
  }

  .c10macbook-pro .c10rectangle {
      position: absolute;
      width: 3px;
      height: 424px;
      top: 193px;
      left: 288px;
      background-color: #000000;
      border-radius: 10px;
  }

  .c10macbook-pro .c10root {
      position: absolute;
      width: 731px;
      height: 953px;
      top: 0;
      left: 0;
  }

  .c10macbook-pro .c10fruit {
      position: absolute;
      width: 311px;
      height: 285px;
      top: 668px;
      left: 1201px;
  }

  .c10macbook-pro .c10text-wrapper-2 {
      width: 71px;
      top: 31px;
      left: 1400px;
      font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
      color: #2d2d2d;
      font-size: 50px;
      line-height: normal;
      position: absolute;
      font-weight: 400;
      letter-spacing: 0;
  }

  .c10macbook-pro .c10rectangle-2 {
      position: absolute;
      width: 3px;
      height: 424px;
      top: 32px;
      left: 1471px;
      background-color: #000000;
      border-radius: 10px;
  }


/* chart11 */
.c11macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.c11macbook-pro .c11div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
    position: relative;
}

.c11macbook-pro .c11text-wrapper {
    top: 102px;
    left: 656px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #2d2d2d;
}

.c11macbook-pro .c11text-wrapper-2 {
    width: 854px;
    top: 178px;
    left: 305px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.c117px;
    line-height: 14px;
    position: absolute;
    font-weight: 400;
    color: #2d2d2d;
}

.c11macbook-pro .c11group {
    position: absolute;
    width: 1644px;
    height: 889px;
    top: 374px;
    left: -90px;
}

.c11macbook-pro .c11overlap-group {
    position: relative;
    width: 1512px;
    height: 608px;
    left: 90px;
}

.c11macbook-pro .c11yelei {
    position: absolute;
    width: 681px;
    height: 298px;
    top: 310px;
    left: 831px;
    object-fit: cover;
}

.c11macbook-pro .c11caolei {
    position: absolute;
    width: 674px;
    height: 410px;
    top: 198px;
    left: 831px;
    object-fit: cover;
}

.c11macbook-pro .c11wulei {
    position: absolute;
    width: 578px;
    height: 526px;
    top: 82px;
    left: 765px;
    object-fit: cover;
}

.c11macbook-pro .c11geneli {
    position: absolute;
    width: 589px;
    height: 413px;
    top: 195px;
    left: 0;
    object-fit: cover;
}

.c11macbook-pro .c11guolei {
    position: absolute;
    width: 593px;
    height: 535px;
    top: 73px;
    left: 64px;
    object-fit: cover;
}

.c11macbook-pro .c11pilei {
    position: absolute;
    width: 459px;
    height: 608px;
    top: 0;
    left: 274px;
    object-fit: cover;
}

.c11macbook-pro .c11kuanglei {
    position: absolute;
    width: 445px;
    height: 590px;
    top: 18px;
    left: 689px;
}

.c11macbook-pro .c11hualei {
    position: absolute;
    width: 278px;
    height: 598px;
    top: 10px;
    left: 562px;
    object-fit: cover;
}


/* chart13 */
.c13macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.c13macbook-pro .c13div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
}

.c13macbook-pro .c13overlap {
    position: absolute;
    width: 1319px;
    height: 909px;
    top: 73px;
    left: 193px;
}

.c13macbook-pro .c13overlap-group {
    position: absolute;
    width: 1085px;
    height: 657px;
    top: 0;
    left: 0;
}

.c13macbook-pro .c13overlap-group-2 {
    position: absolute;
    width: 1085px;
    height: 574px;
    top: 0;
    left: 0;
}

.c13macbook-pro .c13line {
    top: 149px;
    left: 95px;
    position: absolute;
    width: 3px;
    height: 424px;
}

.c13macbook-pro .c13text-wrapper {
    width: 941px;
    top: 142px;
    left: 144px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    color: #2d2d2d;
    font-size: 200px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}

.c13macbook-pro .c13stone {
    position: absolute;
    width: 364px;
    height: 299px;
    top: 0;
    left: 0;
}

.c13macbook-pro .c13text-wrapper-2 {
    width: 697px;
    top: 457px;
    left: 215px;
    font-family: "FZKeBenFangSongS-R-GB-Regular", Helvetica;
    color: #000000;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}

.c13macbook-pro .c13flower {
    position: absolute;
    width: 382px;
    height: 336px;
    top: 574px;
    left: 937px;
}

.c13macbook-pro .c13img {
    top: 61px;
    left: 1471px;
    position: absolute;
    width: 3px;
    height: 424px;
}

.c13macbook-pro .c13text-wrapper-3 {
    width: 71px;
    top: 60px;
    left: 1400px;
    font-family: "FZGuoMeiJinDaoTiJF-Regular", Helvetica;
    color: #2d2d2d;
    font-size: 50px;
    line-height: normal;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}
